@import "~antd/dist/antd.css";

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.full {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

#map {
  height: 100%;
}

#logo-container {
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

#logo {
  margin-top: 5%;
}

#searchbar {
  width: 100%;
  padding-left: 10px;
  padding-left: 10px;
}

#spinner {
  margin-top: 10%;
  margin-bottom: 10%;
}

#app-description {
  text-align: justify;
  padding-left: 10px;
  padding-left: 10px;
}
