@import "~antd/dist/antd.css";

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.full {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

#map {
  height: 100%;
}

#sider {
  padding: 10px;
}

#logo-container {
  text-align: center;
}

#searchbar {
  width: 100%;
}

#spinner {
  margin-top: 10%;
  margin-bottom: 10%;
}

#app-description {
  text-align: justify;
}

#app-description p{
  margin-bottom: 0.5em;
}
